* {
  margin: 0;
  padding: 0;
}

.name{
  font-size: 40px;
  margin-top: 10px;
}

.container{
  height: 100%;
  display:grid;
  grid-template-columns: 45% 55%;
}


.edit{
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.resume{
  box-sizing: border-box;
  overflow-x: scroll;
}

.header{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  gap: 1vh 1vw;
  min-width: 326px;

  
  padding-bottom: 1vw;
}

.personal{
  display:flex;
  text-align: center;
  justify-content: center;
  column-gap: 40px;
}

.body{
  margin: 4vh 4vw;
  min-height: 66vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  row-gap: 4vh;
 
}

.education-whole, .professional{
  width: 100%;
}

.college{
  min-width: 326px;
}

.education, .experience{
  min-width: 326px;
  
  background-color: rgb(225, 223, 223);
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

  color: rgb(25, 25, 88);
  margin-bottom: 1vh;
}

.date-time{
  font-size: 16.5px;

}

.description{
  display:grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 15px;
}

.professional .description{
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.descr *{
  margin-bottom: 4px;
  min-width: 280px;
}

.font-s{
  font-size: 18px;
}

@media(max-width: 984px){
  .personal{
      display:grid;
      grid-template-areas:
      "a b"
      "c c";
      gap:0;
      grid-column-gap:20px;
  }
  .location{
      grid-column: c;
  }
}


@media(max-width: 670px){
  .personal{
      display:grid;
      
      grid-template-areas:
      "a a"
      "b c";
      gap:0;
      grid-column-gap: 35px;
  }
  .email{
      grid-column: a;
  }
  .phone{
      grid-column: b;
  }
  .location{
      grid-column: c;
  }
}


@media(max-width: 469px){
  input{
   max-width: 50px;
   padding-right: 0;
  }

  .edit h3{
    font-size: 14px;
  }

  .pd{
    font-size: 18px;
  }

  .date-time{
    font-size: 12px;
  }
}
